<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAF-l8pUOlZdCwWOPW_Hx8M9otj8hKuRgI</string>
	<key>GCM_SENDER_ID</key>
	<string>742683333598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eGiftStoreAdmin</string>
	<key>PROJECT_ID</key>
	<string>egift-97b47</string>
	<key>STORAGE_BUCKET</key>
	<string>egift-97b47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742683333598:ios:941e74b46e0fa9584a034f</string>
</dict>
</plist>